
.cross-button{
    position: fixed;
    /* margin-top: 16%; */
    top: 1%;
    left: 37%;
    background: none;
    font-weight: bolder;
    color: black;
}

/* From Uiverse.io by 3bdel3ziz-T */ 
.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
display: block;  overflow: hidden;
}

.selected {
    background-color: #2a2f3b;
    padding: 5px;
    /* margin-bottom: -8px; */
    border-radius: 5px;
    position: fixed;
    z-index: 9999999999999;
    top: 10px;
    font-size: 15px;
    margin-left: 36%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: fixed;
    /* top: 11%; */
    margin-top: 11%;
    margin-left: 36%;
    opacity: 0;
    transition: 300ms;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 150px;
  font-size: 15px;
}
.option:hover {
  background-color: #323741;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}


#loader {
  clear: both;
  width: 2rem;
  height: 2rem;
  margin: 1rem auto;
  border: 0.0625rem #000 solid;
  border-radius: 0.25rem;
  position: relative;
  background: linear-gradient(45deg, transparent 49%, #000 50%, #000 50%, transparent 51%, transparent),
				linear-gradient(-45deg, transparent 49%, #000 50%, #000 50%, transparent 51%, transparent);
  background-size: 1rem 1rem;
  background-position: 0% 0%;
  -webkit-animation: spTexture 1s infinite linear;
  animation: spTexture 1s infinite linear;
}

@keyframes spTexture {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -1rem 0;
  }
}
#loader {
  width: 0;
  height: 4.8px;
  display: inline-block;
  position: relative;
  background: #54f98d;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: animFw 8s linear infinite;
}

#loader::after,
#loader::before {
  content: "";
  width: 10px;
  height: 1px;
  background: black;
  position: absolute;
  top: 9px;
  right: -2px;
  opacity: 0;
  transform: rotate(-45deg) translateX(0px);
  box-sizing: border-box;
  animation: coli1 0.3s linear infinite;
}

#loader::before {
  top: -4px;
  transform: rotate(45deg);
  animation: coli2 0.3s linear infinite;
}

@keyframes animFw {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }

  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }

  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}



       .orderids {
    background-color: white;
    border: 2px solid grey;
    border-radius: 2%;
    height: auto;
    width: 97%;
    padding:8px;
    
}





        .dispatchButton,
.cancelButton,
.confirmButton,
.delayButton,
.deleteButton,
.deliveredButton,
.returnedButton,
.reorderButton {
    padding: 2px 0px;
    width: 32%;
    margin-left: 10%;
    /* border: 2px solid #666666; */
    background-color: #292929;
    color: #ffffff;
    font-size: 13px;
    /* height: 30%; */
    border: 2px solid black;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: lighter;
}

.dispatchButton::after,
.cancelButton::after,
.confirmButton::after,
.delayButton::after,
.deleteButton::after,
.deliveredButton::after,
.returnedButton::after,
.reorderButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.dispatchButton:hover::after,
.cancelButton:hover::after,
.confirmButton:hover::after,
.delayButton:hover::after,
.deleteButton:hover::after,
.deliveredButton:hover::after,
.returnedButton:hover::after,
.reorderButton:hover::after {
  transform: scale(4);
}




        body {
            font-family: 'Arial', sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #333;
        }

        h2 {
            color: #555;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            box-sizing: border-box;
        }

        button {
            background-color: black;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: grey;
            }


/* From Uiverse.io by Juanes200122 */ 
.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #000000;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #7e7e7e;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #686868;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #000000;
}
  
  /* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%, 50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}



.editButton {
  width: 35px;
  margin-left: 216px;
  position: relative;
  
  

  color: black;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 0px;
  background-color: transparent; /* Set background color to white */

}

.editButton span {
  background-color: transparent; /* Ensure the span inside button also has a white background */
  display: block;
  padding: 0.5rem 1rem;
}

.editButton:active {
  transform: translateY(5px);
  padding-bottom: 0px;
  outline: 0;
  background-color: #f0f0f0; /* Optional: Add a different background color for active state */
}



        #dataDisplay {
            margin-top: 20px;
            padding: 10px;
            margin-left: 26px;
            width: 301px;
            overflow-x: auto; /* Enable horizontal scrolling on small screens */
        }

            #dataDisplay div {
                margin-bottom: 20px;
            }

            #dataDisplay hr {
                border: 1px solid black;
            }

        #creds {
            margin-left: 5px;
        }

        #count {
            font-weight: bold;
        }

        .deleteButton {
            background-color: red;
            color: white;
        }

        .form-container {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: fixed; /* Change from absolute to fixed */
    top: 50%; /* Adjust top position as needed */
    left: 50%; /* Adjust left position as needed */
    transform: translate(-50%, -50%); /* Center the form */
    z-index: 999; /* Ensure it's above other elements if needed */
    display: none; /* Hidden by default */
}

        #dispatchForm{
            display: none;
        }
#deliveredForm{
    display: none;
}
#returnedForm{
    display: none;
}
#financeForm{
    display: none;
}
        label {
            display: block;
            margin-bottom: 8px;
        }
        /* Responsive styles */
        @media only screen and (max-width: 600px) {
            input, button {
                width: 300px;
            }
.form-container{
    width: 82%;;
}
.deleteButton{
    margin-top: 20px;
}
.confirmButton{
    margin-top: 20px;
}
.cancelButton{
    margin-top: 20px;
}
.dispatchButton{
    margin-top: 20px;
}
.delayButton{
    margin-top: 20px;
}
.returnButton{
    margin-top: 20px;
}
            #h1 {
                width: 338px;
            }

            #dataDisplay {
                margin-left: 26px;
            width: 301px;

            }
        }
        #imgSrc{
            height: auto;
            width: 100px;
        }
        #logoSrc{
            height: auto;
            width: 100px;
            margin-left: 124px;
    margin-top: -140px;
        }
       
        #preDispatch{
            margin-top: 34px;
    margin-bottom: 42px;
    margin-left: 20px;
    
        }
        .checkBox{
           
            display: block;
    width: 64px;
    position: relative;
    left: 85%;
    margin-top: -17px;
        }
        #downloadButton{
            margin-bottom: 5px;
    margin-left: 20px;
    margin-top: -34%;
        }




  /* Styling for the sidebar */
  .sidebar {
    position: fixed;
    z-index: 999;
    
    top: 0;
    height: 100%;
    width: 52%;
    background-color: black;
    padding: 20px;
    transition: left 0.3s ease;
        }

        /* Styling for sidebar buttons */
        .sidebar button {
            display: block;
            margin-bottom: 10px;
            background: black;
    color: white;
    width: 132px;
    padding: -1px;
    height: 0px;
        }

        /* Styling for the button to open sidebar */
        #sidebarToggle {
            position: fixed;
            left: 0;
            top: 0;
            height: 33px;
            padding: 10px;
            cursor: pointer;
            z-index: 9999; /* Ensure it's above other elements */
        }
.sidebar button img{
    height: auto;
    width: 20px;
    margin-left: 126px;
    display: flex;
}






