/* Import Outfit font globally */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/* Import Ionicons globally */
@import url('https://unpkg.com/ionicons@5.5.2/dist/css/ionicons.min.css');

/* Tailwind CSS setup */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Outfit', Arial, Helvetica, sans-serif; /* Set Outfit as the primary font */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Fade-in animation for the page */
html {
  opacity: 0;
  background-color: black;
  animation: fadeInBlack 1.5s ease-in forwards;
}

@keyframes fadeInBlack {
  0% {
    opacity: 0;
    background-color: black;
  }
  100% {
    opacity: 1;
    background-color: transparent;
  }
}
